<style>
.data {
  margin: 0px;
}

.data:hover {
    background: #ccc;
}

.second { 
   background: #eee;
}
</style>

<h1>{{ user.name }}</h1>

<p>
How often you discuss & collaborate with (0 never - 9 we live together):
</p>

<form action="/person/{{ user.id }}/entry" method="post">
{% csrf_token %}
<table>
{% for person in others %}
    <tr class='{% cycle 'first' 'second' %} data'>
    <td><b>{{ person.name }}</b></td>
    {# ugly, fixme! #}
    {% for i in '0123456789' %}
    <td><input type='radio' name='connection_to_{{ person.id }}' value='{{i}}'> {{i}}</td>
    {% endfor %}

    </tr>
{% endfor %}
</table>

<input type='submit' />

</form>

